/*RESET*/

/* Simple CSS Reset */

/* Box sizing */
*, *::before, *::after { box-sizing: border-box; }

/* Remove default margins */
body, h1, h2, h3, h4, h5, h6, p, figure, blockquote, dl, dd {  margin: 0; }


/* Remove default link styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Make images easier to work with */
img, picture {
  max-width: 100%;
  display: block;
}

/* Form elements inherit font */
input, button, textarea, select { font: inherit; }


/**************
IMPORT FONTS
**************/


/*COLOR PALETTE*/

$primary-color: hsl(14, 45%, 36%);
$secondary-color: #f3e5d8;
$light-color: hsl(0, 0%, 100%);
$dark-color: hsla(0, 0%, 8%, 0.711);
$dark-color-second: #2f2f2c91;
$important-color: #fff7fc;
$important-text-color: #613147;
$light-grey: rgba(93, 93, 93, 0.0901960784);

/*list styles */

ol li, ul li { padding-left: 1rem;}

li span, ol span{ color: $dark-color-second;}

ul, ol{ color:$primary-color;}

ul li { line-height: 1.9rem;}
/* MIXINS*/

@mixin border-radius($value){border-radius:$value;}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: "Outfit", sans-serif; 
  background-color: $secondary-color;
  color:#949391;

  strong{
    color:$dark-color;
  }
}

h1,h2,h3,h4{
    font-family: "Young Serif", serif;
    color:$primary-color;
    margin-bottom: 1rem;
}

.recipe{

    background-color: $light-color;
    max-width: 700px;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    gap: 1.5rem;

    @media (min-width: 768px){
         margin-top: 4rem;
         @include border-radius(10px);
    }
    
    &__thumbnail{

        @media (min-width: 768px) {
            @include  border-radius(40px);
            padding: 2rem  2rem 0 2rem;
        }
    }

    &__figcaption{ display:none; }

    &__title{ 
        color:$dark-color;
        margin-bottom: 0; 
    }
  
    &__title, &__introduction, &__time-prep, &__ingredients, &__instructions, &__nutrition{ padding: 0 2.2rem;}
        
    &__time-prep{

        background-color: $important-color;
        align-self: center;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        width: 85%;
        @include  border-radius(10px);
        @media (min-width: 768px) { width: 90%; }
    }

    &__time-prep-title{
        font-size: 1.1rem;
        font-family:"Outfit", sans-serif;
        font-weight: bold;
        color:$important-text-color;
        margin:0;
    }

    &__instructions{
        hr{
          border: 1px solid $light-grey;
          margin-top: 1rem;
        }
    }

    &__table-data{
        width: 100%;
        border-collapse: collapse;
        margin: 1.5rem 0;
        
        caption{
            display:none;
        }

        th{font-weight: 500;}

        tr{
            border-bottom: 1px solid $light-grey;
            text-align: left;
        }

        tr:last-child{ border-bottom: none;}

        td{
            color:$primary-color;
            font-weight: bold;
        }

        th,td{ padding:1rem;}
    }
}